<div class="main-container">
    <div *ngIf="!purchased; else purchaseInfo">
        <div class="list-information-content">
            <ul class="screening-information-list">
                <li><span class="screening-label">Title:</span> {{movie.title}}</li>
                <li><span class="screening-label">Duration:</span> {{movie.duration}} minutes</li>
                <li><span class="screening-label">Date:</span> {{screening.date | date:'dd:MM:YYYY'}} <span class="screening-label">Time:</span> {{screening.date | date:'HH:mm'}}</li>
                <li><span class="screening-label">Room No:</span> {{room.roomNumber}}</li>
                <li><span class="screening-label">Ticekts left:</span> {{ screening.occupation? (room.capacity-screening.occupation.length) : 'loading...'}}</li>
                <a [routerLink]="[ './', 'edit' ]" class="fancy-button pop-onhover bg-gradient3"><span>Edit</span></a>
            </ul>
        </div>
       

        <div class="theatre" (click)="onSeatSelected($event)">
            <div *ngIf="movie.trailer" class="cinema-screen">
                <video class="trailer-screen" [controls]="false" [autoplay]="true" [loop]="true" [muted]="true">
                    <source [src]="movie.trailer" type="video/mp4"/>
                    <!--Your browser does not support the video tag.-->
                    <img class="film-gif" src="https://thumbs.gfycat.com/ConcernedWelldocumentedClownanemonefish-max-1mb.gif"/>
                </video>
            </div>
            <div class="cinema-seats left">
                <div *ngFor="let item of [].constructor(rows); let r=index" [ngClass]="'cinema-row row-'+(r+1)">
                    <div *ngFor="let item of [].constructor(seatsPerRow); let s=index" 
                        [attr.data-seat-no]="getSeatNumber(r, s, 'l')" [ngClass]="setSeatClass(getSeatNumber(r, s, 'l'))">
                        {{ getSeatNumber(r, s, 'l') }}
                    </div>
                </div>
            </div>

            <div class="cinema-seats right">
                <div *ngFor="let item of [].constructor(rows); let r=index" [ngClass]="'cinema-row row-'+(r+1)">
                    <div *ngFor="let item of [].constructor(seatsPerRow); let s=index" 
                        [attr.data-seat-no]="getSeatNumber(r, s, 'r')" [ngClass]="setSeatClass(getSeatNumber(r, s, 'r'))">
                        {{ getSeatNumber(r, s, 'r') }}
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="selectedSeats.length; else chooseSeatsInfo">
            <div class="wrapper">
                <a class="fancy-button pop-onhover bg-gradient3" (click)="onBuyTickets()"><span>Buy tickets</span></a>
            </div>
        </ng-container>

        <ng-template #chooseSeatsInfo>
            <p  style="text-align: center;">Choose seats to buy tickets</p>
        </ng-template>
        
    </div>

    <ng-template #purchaseInfo>
        <app-purchase-details [seats]="selectedSeats"> </app-purchase-details>
    </ng-template>

</div>