
<div class="main-container">
    <div class="movie-header">
        <h2>{{movie.title}}</h2>
         <span>{{movie.duration}} minutes</span>
     </div>

     <div class="movie-container">
        <img [src]="movie.image" alt="movie img" />
        <video *ngIf="movie.trailer" width="auto" height="auto" [controls]="true" autoplay loop>
            <source [src]="movie.trailer" type="video/mp4"/>
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="movie-desc">
        <p>{{movie.description}}</p>
    </div>

    <div class="wrapper">
        <a [routerLink]="['./','edit']" class="fancy-button pop-onhover bg-gradient1"><span>Edit</span></a>
        <a [routerLink]="['./', 'remove']" class="fancy-button pop-onhover bg-gradient1"><span>Remove</span></a>
    </div>
    
</div>