@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*, *:after, *:before {
	box-sizing: border-box;
}

.warning {
	margin-bottom: 15px;
}

.warning p {
	color: red;
	font-size: medium;
}

input {
	appearance: none;
	border-radius: 0;
}

.movie-container {
	display: inline-flex;
	box-sizing: border-box;
	flex-basis: 100%;
	flex-wrap: nowrap;
	flex-direction: row;
	column-gap: 10px;
	width: 100%;
	margin-bottom: 25px;
}

.movie-container img {
	min-width: 300px;
	max-width: 27%;
	height: auto;
}

.movie-header {
	padding-left: 0.5%;
	border-bottom: 1px solid #6658d3;
	margin-bottom: 25px;
}

.movie-header h2
{
	color: #624eff;
}

.movie-header span {
	color: #6658d3;
}

.movie-desc {
	padding-left: 0.5%;
	margin-top: 25px;
	margin-bottom: 25px;
	border-top: 1px solid #6658d3;
}

.movie-desc::before
{
	position: relative;
	content: "Description";
	top: -25px;
	color: #6658d3;
}

.movie-desc p {
	font-style: italic;
}

.movie-buttons span
{
	display: inline-flex;
	margin-top: 25px;
	column-gap: 15px;
}

.card-add-movie {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
	padding: 0 2rem;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
	padding: .75rem;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url("../images/jeff-pierre.jpg");
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: 0 50%;
	position: relative;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: white;
	line-height: 1.222;
}

.card-heading small {
	display: block;
	font-size: .75em;
	font-weight: 400;
	margin-top: .25em;
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
}

.input + .input {
	margin-top: 1.5rem;
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee;
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
}

.input-field:focus, .input-field:valid {
	outline: 0;
	border-bottom-color: #6658d3;
}

.input-field:focus + .input-label,
.input-field:valid + .input-label,
.ng-dirty + .input-label {
	color: #6658d3;
	transform: translateY(-1.5rem);
}

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
}

.action-button:focus {
	outline: 0;
}

.card-info {
	padding: 1rem 1rem;
	text-align: left;
	font-size: .875rem;
	color: #8597a3;
}

.card-info a {
	display: block;
	color: #6658d3;
	text-decoration: none;
}