@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap");

* {
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
}

html {
    min-width: 720px;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    min-width: 720px;
}

h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
}
i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}
.card {
    text-align: center;
    background:rgba(255, 255, 255, 0.95);
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: table;
    margin: 100px auto;
}

.checkmark-container {
    text-align: center;
    border-radius:200px; 
    height:200px; 
    width:200px; 
    background: #F8FAF5; 
    margin:0 auto;
}

.checkmark {
    padding: 40px 0;
    text-align: center;
}