.main-container
{
  background: rgba( 255, 255, 255, 0.95 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px auto;
  color: black;
  padding: 10px 50px 20px 50px;
  min-width: 50%;
  width: fit-content;
  min-height: 60vh;
  max-width: 85%;
}

.theatre {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.cinema-screen
{
    background-color: #333;
    padding: 100px;
    width: 50%; /* 70% */
    position: absolute;
    transform: translateY(-190px);
    max-height: 210px;

    display: flex;
    justify-content: center;
}

.film-gif 
{
    position: absolute; 
    transform: scale(.9) translateY(-110px);  
}

.cinema-screen .trailer-screen {
  padding: 15px; 
  position: absolute;
  z-index: -1; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.cinema-seats {
  display: flex;
}
.cinema-seats .seat {
  cursor: pointer;
}
.cinema-seats .seat:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.cinema-seats .seat.active:before {
  content: attr(data-seat-no);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
}

.cinema-seats .seat.selected:before {
  content: attr(data-seat-no);
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}

.left .cinema-row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  text-align: center;
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row-2 {
  transform: skew(-13deg);
}
.left .row-2 .seat {
  transform: skew(18deg);
}
.left .row-3 {
  transform: skew(-12deg);
}
.left .row-3 .seat {
  transform: skew(16deg);
}
.left .row-4 {
  transform: skew(-11deg);
}
.left .row-4 .seat {
  transform: skew(15deg);
}
.left .row-5 {
  transform: skew(-10deg);
}
.left .row-5 .seat {
  transform: skew(12deg);
}
.left .row-6 {
  transform: skew(-9deg);
}
.left .row-6 .seat {
  transform: skew(10deg);
}
.left .row-7 {
  transform: skew(-7deg);
}
.left .row-7 .seat {
  transform: skew(8deg);
}
.right {
  margin-left: 70px;
}
.right .cinema-row {
  transform: skew(7deg);
  margin: 0 6px;
}
.right .seat {
  text-align: center;
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
  margin-bottom: 10px;
  transform: skew(-8deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row-2 {
  transform: skew(9deg);
}
.right .row-2 .seat {
  transform: skew(-10deg);
}
.right .row-3 {
  transform: skew(10deg);
}
.right .row-3 .seat {
  transform: skew(-12deg);
}
.right .row-4 {
  transform: skew(11deg);
}
.right .row-4 .seat {
  transform: skew(-15deg);
}
.right .row-5 {
  transform: skew(12deg);
}
.right .row-5 .seat {
  transform: skew(-16deg);
}
.right .row-6 {
  transform: skew(13deg);
}
.right .row-6 .seat {
  transform: skew(-18deg);
}
.right .row-7 {
  transform: skew(13deg);
}
.right .row-7 .seat {
  transform: skew(-16deg);
}  

@media  all and (max-width: 1000px) 
{
  .theatre
  {
    padding: 100px 0px;
    transform: scale(0.9);
  }

  .cinema-screen
  {
    width:70%
  }

  .film-gif
  {
    transform: scale(1) translateY(-100px);
  }

}