<div class="container main-container">
    <div class="card-add-movie">
        <div class="card-image">	
            <h2 class="card-heading">
                Edit room
                <small>Edit selected room</small>
            </h2>
        </div>

        <form class="card-form" #f="ngForm"  (ngSubmit)="verifyForm(f)">
            <div class="input">
                <input type="text" NumericInput [min]=1 class="input-field" name="roomNumber" #roomNumber="ngModel"  minlength="3" maxlength="3" [ngModel]="room.roomNumber" required/>
                <label class="input-label">Room number</label>
            </div>
            <div *ngIf="roomNumber.invalid && roomNumber.touched" class="warning">
                <p *ngIf="roomNumber.errors?.['required']">The field is required.</p>
                <p *ngIf="roomNumber.errors?.['minlength']">Too short. At least {{ roomNumber.errors?.['minlength'].requiredLength }} chars.</p>
            </div>

            <div class="input">
                <input type="number" NumericInput [max]=999 class="input-field ng-dirty" name="capacity" #capacity="ngModel"  minlength="2" [ngModel]="room.capacity" min="60" required/>
                <label class="input-label">Capacity</label>
            </div>
            <div *ngIf="capacity.invalid && capacity.touched" class="warning">
                <p *ngIf="capacity.errors?.['required']">The field is required.</p>
                <p *ngIf="capacity.errors?.['minlength']">Too short. At least {{ capacity.errors?.['minlength'].requiredLength }} chars.</p>
            </div>
<!--
            <div class="input">
                <input type="number" NumericInput [max]=999  class="input-field ng-dirty" name="duration" #duration="ngModel"  min="15" step="5" [ngModel]="" value="15" required/>
                <label class="input-label">Duration (minutes)</label>
            </div>
            <div *ngIf="duration.invalid && duration.touched" class="warning">
                <p *ngIf="duration.errors?.['required']">The field is required.</p>
            </div>

            <div class="input">
                <input type="url" class="input-field" name="image" #image="ngModel"  pattern="https?://.*" minlength="10" size="30" [ngModel]="" required/>
                <label class="input-label">Image link</label>
            </div>
            <div *ngIf="image.invalid && image.touched" class="warning">
                <p *ngIf="image.errors?.['required']">The field is required.</p>
                <p *ngIf="image.errors?.['minlength']">Too short. At least {{ image.errors?.['minlength'].requiredLength }} chars.</p>
                <p *ngIf="image.errors?.['pattern']">The field has to be an URL.</p>
            </div>

            <div class="input">
                <input type="url" class="input-field " name="trailer" #trailer="ngModel"  pattern="https?://.*" minlength="10" size="30" [ngModel]="" required/>
                <label class="input-label">Video link / Trailer</label>
            </div>
            <div *ngIf="trailer.invalid && trailer.touched" class="warning">
                <p *ngIf="trailer.errors?.['required']">The field is required.</p>
                <p *ngIf="trailer.errors?.['minlength']">Too short. At least {{ trailer.errors?.['minlength'].requiredLength }} chars.</p>
                <p *ngIf="trailer.errors?.['pattern']">The field has to be an URL.</p>
            </div> -->

            <div class="action">
                <button [disabled]="!f.valid" class="action-button"> Edit Room </button>
            </div>
        </form>

        <div class="card-info">
            Couldn't be less than 60 seats.
        </div>
    </div>
</div>