<div class="main-container">

    <div class="input">
        <input type="text" class="input-field" [formControl]="filterControl" required/>
        <label class="input-label">Filter Movies</label>
    </div>

    <div>
        <ol>
            <li *ngFor="let movie of moviesList | filterMovies: filter; let i = index">
                <a [routerLink]="['/movies/', i]">{{movie.title}}</a>
                <span> {{movie.duration}}</span>
            </li>
        </ol>
    </div>

    <div class="wrapper">
        <a [routerLink]="['./add']" class="fancy-button pop-onhover bg-gradient1"><span>Add Movie</span></a>
    </div>
</div>