<div class="main-container">

    <div class="input">
        <input type="text" class="input-field" [formControl]="filterControl" required/>
        <label class="input-label">Filter Movies</label>
    </div>

    <div>
        <ol class="list-of-movies">
            <li class="list-movie-item" *ngFor="let movie of moviesList | filterMovies: filter; let i = index" >
                <a class="link-movie-item" [routerLink]="['/movies/', i]">
                    <div class="movie-block">
                        <img class="movie-img" src={{movie.image}}/>
                        <h2 class="movie-title">{{movie.title}}</h2> 
                        <span class="movie-duration"> duration: {{movie.duration}} min</span>
                    </div>                                       
                </a>
                
            </li>
        </ol>
    </div>

    <div class="wrapper">
        <a [routerLink]="['./add']" class="fancy-button pop-onhover bg-gradient1"><span>Add Movie</span></a>
    </div>
</div>