h1 {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
  }
  
  .blue { color: #185875; }
  .yellow { color: #FFF842; }
  .pink { color: #fa6c9f}