<div class="main-container">
    <img style="width: auto; height: auto; margin: auto auto;" src="https://miro.medium.com/max/640/1*FZDQJ7ZMtUuIDVhQR0mXsw.png" />



    <div *ngIf="toggle" class="wrapper">
        <a class="fancy-button pop-onhover bg-gradient3" (click)="toggleChange()"><span>Show today's Screenings</span></a>
        <app-current-screenings></app-current-screenings>
    </div>
    
    <div *ngIf="!toggle" class="wrapper">
        <a class="fancy-button pop-onhover bg-gradient3" (click)="toggleChange()"><span>Show currently playing</span></a>
        <app-today-screenings></app-today-screenings>
    </div>

</div>