<div class="main-container">
    <div class="container-table">
        <h1 class="page-title">Room list</h1>

        <table>
            <thead>
                <tr>
                    <th>
                        Room number
                    </th>
                    <th>
                        Capacity
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let room of roomList; let i=index">
                    <td>
                        <b>{{room.roomNumber}}</b>
                    </td>
                    <td>
                        {{room.capacity}}
                    </td>
                    <td>
                        <a [routerLink]="['./', i]" class="fancy-button pop-onhover bg-gradient2"><span>Details</span></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="wrapper">
        <a [routerLink]="['./add']" class="fancy-button pop-onhover bg-gradient2"><span>Add Room</span></a>
    </div>
</div>