<div class="main-container">
        <ngx-charts-pie-chart
        [view]="view"
        [results]="results"
        [animations]="animations"
        [legend]="showLegend"
        [labels]="showLabels"
        [legendPosition]="Position"
        [doughnut]="isDoughnut"
        [explodeSlices]="explodeSlices"
        [maxLabelLength]="maxLabelLength">
        </ngx-charts-pie-chart>
        
        <ngx-charts-pie-grid
        [animations]="animations"
        [view]="view"
        [label]="label"
        [results]="results">
        </ngx-charts-pie-grid>
</div>
